*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.perm
*.pickle
*.json
.cloud
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
*.DS_Store
*.sqlite
deps
__pycache__
tts
secrets.yaml
secrets
known_devices.yaml
phue.conf
ios.conf
pyozw.sqlite
nest.conf
bin
.uuid
*.sh
ipchange.yaml
production_auth.json
webostv.conf
ip_bans*
etc
images
*.google*
*.bak
appdaemon.*
*log*
apps.y*
*homekit*
.storage
auth*
core*
onboarding
.google*